
<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %} 


	<!-- Main -->
	<div id="main" class="alt">
		<section id="one">
			<div class="inner">

				{% for post in site.categories.portfolio %}
				<div class="row">
					<div class="6u 12u$(small)">
						{% if post.youtube_id %}
						<a href="https://youtu.be/{{ post.youtube_id }}" target="_blank">
							<span class="image fit">
								<img src="http://i3.ytimg.com/vi/{{ post.youtube_id }}/maxresdefault.jpg" alt="{{ post.title }}" />
							</span>
						</a>
						{% endif %}
					</div>
					<div class="6u$ 12u$(small)">
						<h3>{{ post.title }}</h3>
						<p>Don't forget to like, share and subscribe!</p>

						<ul class="actions fit">
							{% if post.download %}
							<li><a href="{{ post.download }}" class="button fit special icon fa-download" target="_blank">Download</a></li>
							{% endif %}
							<li><a href="https://mega.nz/aff=rPdAuZkPr-E" class="button fit" target="_blank">Mega Cloud Download</a></li>
						</ul>
						
						<ul class="actions fit">
							<li><a href="https://www.patreon.com/desainimasi" class="button fit special icon fa-heart" target="_blank">Support Us on Patreon</a></li>
						</ul>
					</div>
				</div>
				{% endfor %}

			</div>   
		</section>
	</div>

	{% include footer.html %}

</body>

</html>
